PORT=3000
HASH_SALT=10
FRONT_HOST=http://localhost:8080

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=skillswap

NODE_ENV=development

# Admin seed credentials
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123456
ADMIN_NAME=Admin

# mail microservice 
MAIL_SERVICE_URL=http://localhost:3001